# ---------------------------------------------
# 📊 DATA PROCESSING & ANALYSIS
# ---------------------------------------------
pandas==2.3.3
numpy==2.4.4

# ---------------------------------------------
# 🧠 MACHINE LEARNING
# ---------------------------------------------
scikit-learn==1.8.0
xgboost==3.2.0
# ---------------------------------------------
# 📈 VISUALIZATION
# ---------------------------------------------
matplotlib
seaborn

# ---------------------------------------------
# 📦 EXPERIMENT TRACKING & MODEL MANAGEMENT
# ---------------------------------------------
mlflow

# ---------------------------------------------
# ✅ TESTING
# ---------------------------------------------
pytest

# ---------------------------------------------
# ⚡ API DEVELOPMENT (FOR MODEL SERVING)
# ---------------------------------------------
fastapi==0.136.1
uvicorn==0.46.0
#
# ---------------------------------------------
#  MISC
# ---------------------------------------------
pyyaml==6.0.3
joblib==1.5.3
setuptools
ipykernel
