# ---------------------------------------------
# 📊 DATA PROCESSING & ANALYSIS
# ---------------------------------------------
pandas==2.3.3
numpy==2.4.4

# ---------------------------------------------
# 🧠 MACHINE LEARNING
# ---------------------------------------------
scikit-learn==1.8.0
xgboost==3.2.0
# ---------------------------------------------
# 📈 VISUALIZATION
# ---------------------------------------------
matplotlib==3.10.9
seaborn==0.13.2

# ---------------------------------------------
# 📦 EXPERIMENT TRACKING & MODEL MANAGEMENT
# ---------------------------------------------
mlflow==3.12.0

# ---------------------------------------------
# ✅ TESTING
# ---------------------------------------------
pytest==9.0.3

# ---------------------------------------------
# ⚡ API DEVELOPMENT (FOR MODEL SERVING)
# ---------------------------------------------
fastapi==0.136.1
uvicorn==0.46.0
#
# ---------------------------------------------
#  MISC
# ---------------------------------------------
pyyaml==6.0.3
joblib==1.5.3
setuptools==82.0.1
ipykernel==7.2.0
